--
-- PostgreSQL database dump
--

\restrict vllUeKMQPxwdwKfepGxIcWD0lv9bwbfDfrF1ZUbBnr3Mo12fwJlZqbon1NoEA7e

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bug_feedback; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bug_feedback (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    description character varying(2000),
    reporter_email character varying(255),
    reporter_role character varying(255)
);


--
-- Name: equipe; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipe (
    id uuid NOT NULL,
    leader_engineer_id uuid,
    leader_engineer_name character varying(255),
    nom character varying(255),
    specialite character varying(255)
);


--
-- Name: equipe_technicien_names; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipe_technicien_names (
    equipe_id uuid NOT NULL,
    technician_name character varying(255)
);


--
-- Name: equipe_techniciens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipe_techniciens (
    equipe_id uuid NOT NULL,
    technician_id uuid
);


--
-- Name: equipement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipement (
    id bigint NOT NULL,
    model character varying(255),
    nom character varying(255),
    reference character varying(255) NOT NULL,
    status character varying(255),
    taxonomie_id bigint NOT NULL
);


--
-- Name: equipement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.equipement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: equipement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.equipement_id_seq OWNED BY public.equipement.id;


--
-- Name: maintenance; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maintenance (
    id uuid NOT NULL,
    date_debut date,
    date_fin date,
    description character varying(255),
    status character varying(255),
    type_maintenance character varying(255),
    equipe_id uuid,
    equipement_id bigint
);


--
-- Name: maintenance_pieces; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.maintenance_pieces (
    id uuid NOT NULL,
    maintenance_id uuid,
    piece_id uuid,
    quantite_utilisee integer
);


--
-- Name: notification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notification (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    is_read boolean NOT NULL,
    message character varying(255),
    recipient_email character varying(255),
    recipient_role character varying(255),
    target_id uuid,
    type character varying(255)
);


--
-- Name: piece; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.piece (
    id uuid NOT NULL,
    emplacement character varying(255),
    nom character varying(255) NOT NULL,
    prix double precision NOT NULL,
    quantite integer NOT NULL,
    reference character varying(255) NOT NULL,
    seuil_min integer NOT NULL,
    taxonomie_id bigint
);


--
-- Name: piece_request; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.piece_request (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    quantite integer NOT NULL,
    requested_by character varying(255),
    responded_at timestamp(6) without time zone,
    status character varying(255),
    piece_id uuid NOT NULL,
    tache_id uuid NOT NULL
);


--
-- Name: prediction_alert; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prediction_alert (
    id bigint NOT NULL,
    engine_id bigint,
    engine_name character varying(255),
    message character varying(255),
    status character varying(255),
    "timestamp" timestamp(6) without time zone,
    type character varying(255)
);


--
-- Name: prediction_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.prediction_alert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: prediction_alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.prediction_alert_id_seq OWNED BY public.prediction_alert.id;


--
-- Name: rapport; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rapport (
    id uuid NOT NULL,
    author_email character varying(255),
    author_role character varying(255),
    content character varying(5000),
    created_at timestamp(6) without time zone,
    reviewed_at timestamp(6) without time zone,
    reviewer_note character varying(2000),
    reviewer_role character varying(255),
    status character varying(255),
    submitted_at timestamp(6) without time zone,
    title character varying(255),
    type character varying(255),
    updated_at timestamp(6) without time zone,
    maintenance_id uuid,
    tache_id uuid
);


--
-- Name: rapport_attachments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rapport_attachments (
    rapport_id uuid NOT NULL,
    attachment_url text
);


--
-- Name: sub_task; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sub_task (
    id uuid NOT NULL,
    assigned_member_id uuid,
    assigned_member_name character varying(255),
    description character varying(255),
    status character varying(255),
    tache_id uuid
);


--
-- Name: tache; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tache (
    id uuid NOT NULL,
    checked_at timestamp(6) without time zone,
    description character varying(255),
    priorite character varying(255),
    status character varying(255),
    technician_note character varying(2000),
    total_cost double precision,
    equipe_id uuid,
    maintenance_id uuid,
    taxonomie_id bigint
);


--
-- Name: taxonomie; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.taxonomie (
    id bigint NOT NULL,
    code character varying(255) NOT NULL,
    description character varying(255),
    nom character varying(255) NOT NULL
);


--
-- Name: taxonomie_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.taxonomie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: taxonomie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.taxonomie_id_seq OWNED BY public.taxonomie.id;


--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.utilisateurs (
    role character varying(31) NOT NULL,
    id uuid NOT NULL,
    account_status character varying(255),
    email character varying(255),
    mot_de_passe character varying(255),
    nom character varying(255),
    prenom character varying(255),
    ice character varying(255),
    nom_societe character varying(255),
    siege_social character varying(255),
    specialite character varying(255),
    departement character varying(255),
    matricule_technique character varying(255)
);


--
-- Name: equipement id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipement ALTER COLUMN id SET DEFAULT nextval('public.equipement_id_seq'::regclass);


--
-- Name: prediction_alert id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prediction_alert ALTER COLUMN id SET DEFAULT nextval('public.prediction_alert_id_seq'::regclass);


--
-- Name: taxonomie id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taxonomie ALTER COLUMN id SET DEFAULT nextval('public.taxonomie_id_seq'::regclass);


--
-- Data for Name: bug_feedback; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bug_feedback (id, created_at, description, reporter_email, reporter_role) FROM stdin;
cab15319-f789-4d07-b0e2-deb34c0d1360	2026-06-27 03:40:39.944528	hahahaha	admin1@smartm.com	admin
94d84001-00fc-460c-892d-bc22e306c1fe	2026-06-28 03:32:18.385188	test bug 	admin1@smartm.com	admin
\.


--
-- Data for Name: equipe; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: equipe_technicien_names; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: equipe_techniciens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: equipement; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: maintenance; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: maintenance_pieces; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.maintenance_pieces (id, maintenance_id, piece_id, quantite_utilisee) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: piece; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: piece_request; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: prediction_alert; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: rapport; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: rapport_attachments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sub_task; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tache; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: taxonomie; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.taxonomie (id, code, description, nom) FROM stdin;
1	HVAC-001	Heating, Ventilation, and Air Conditioning	HVAC
2	ELEC-001	Electrical Systems	Electrical
3	MECH-001	Mechanical Equipment	Mechanical
\.


--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: equipement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.equipement_id_seq', 15, true);


--
-- Name: prediction_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.prediction_alert_id_seq', 345, true);


--
-- Name: taxonomie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.taxonomie_id_seq', 3, true);


--
-- Name: bug_feedback bug_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bug_feedback
    ADD CONSTRAINT bug_feedback_pkey PRIMARY KEY (id);


--
-- Name: equipe equipe_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipe
    ADD CONSTRAINT equipe_pkey PRIMARY KEY (id);


--
-- Name: equipement equipement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipement
    ADD CONSTRAINT equipement_pkey PRIMARY KEY (id);


--
-- Name: maintenance_pieces maintenance_pieces_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance_pieces
    ADD CONSTRAINT maintenance_pieces_pkey PRIMARY KEY (id);


--
-- Name: maintenance maintenance_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance
    ADD CONSTRAINT maintenance_pkey PRIMARY KEY (id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- Name: piece piece_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece
    ADD CONSTRAINT piece_pkey PRIMARY KEY (id);


--
-- Name: piece_request piece_request_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece_request
    ADD CONSTRAINT piece_request_pkey PRIMARY KEY (id);


--
-- Name: prediction_alert prediction_alert_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prediction_alert
    ADD CONSTRAINT prediction_alert_pkey PRIMARY KEY (id);


--
-- Name: rapport rapport_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rapport
    ADD CONSTRAINT rapport_pkey PRIMARY KEY (id);


--
-- Name: sub_task sub_task_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sub_task
    ADD CONSTRAINT sub_task_pkey PRIMARY KEY (id);


--
-- Name: tache tache_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT tache_pkey PRIMARY KEY (id);


--
-- Name: taxonomie taxonomie_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taxonomie
    ADD CONSTRAINT taxonomie_pkey PRIMARY KEY (id);


--
-- Name: utilisateurs uk_6ldvumu3hqvnmmxy1b6lsxwqy; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT uk_6ldvumu3hqvnmmxy1b6lsxwqy UNIQUE (email);


--
-- Name: equipement uk_bnquy6cn78mfnp8s4yvocp2lp; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipement
    ADD CONSTRAINT uk_bnquy6cn78mfnp8s4yvocp2lp UNIQUE (reference);


--
-- Name: piece uk_h9oln6siis0cbdo17qus2bf4a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece
    ADD CONSTRAINT uk_h9oln6siis0cbdo17qus2bf4a UNIQUE (reference);


--
-- Name: taxonomie uk_tawds6d29j87qxikb6wwfmf42; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taxonomie
    ADD CONSTRAINT uk_tawds6d29j87qxikb6wwfmf42 UNIQUE (code);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id);


--
-- Name: rapport fk25wxod63cv8ueojtufm2rfst1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rapport
    ADD CONSTRAINT fk25wxod63cv8ueojtufm2rfst1 FOREIGN KEY (tache_id) REFERENCES public.tache(id);


--
-- Name: maintenance fk2qgc664klk9wnp1x15un11l1r; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance
    ADD CONSTRAINT fk2qgc664klk9wnp1x15un11l1r FOREIGN KEY (equipement_id) REFERENCES public.equipement(id);


--
-- Name: maintenance fk2tvty7cch4qroryk7nfyafug1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.maintenance
    ADD CONSTRAINT fk2tvty7cch4qroryk7nfyafug1 FOREIGN KEY (equipe_id) REFERENCES public.equipe(id);


--
-- Name: piece_request fk3hkg0wk1rt23rwl45aqetsmm1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece_request
    ADD CONSTRAINT fk3hkg0wk1rt23rwl45aqetsmm1 FOREIGN KEY (piece_id) REFERENCES public.piece(id);


--
-- Name: equipe_technicien_names fkason1gheqcjxyleiricpwe0ae; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipe_technicien_names
    ADD CONSTRAINT fkason1gheqcjxyleiricpwe0ae FOREIGN KEY (equipe_id) REFERENCES public.equipe(id);


--
-- Name: rapport fkc8hlewb0vop96iq06i8r6tdr7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rapport
    ADD CONSTRAINT fkc8hlewb0vop96iq06i8r6tdr7 FOREIGN KEY (maintenance_id) REFERENCES public.maintenance(id);


--
-- Name: sub_task fkcf5diudnrld9f8n7udla6hdf8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sub_task
    ADD CONSTRAINT fkcf5diudnrld9f8n7udla6hdf8 FOREIGN KEY (tache_id) REFERENCES public.tache(id);


--
-- Name: piece fkcqarg87hnvrls6py0ahbvudsu; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece
    ADD CONSTRAINT fkcqarg87hnvrls6py0ahbvudsu FOREIGN KEY (taxonomie_id) REFERENCES public.taxonomie(id);


--
-- Name: tache fke8blhexup93arngb94il0thh8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT fke8blhexup93arngb94il0thh8 FOREIGN KEY (maintenance_id) REFERENCES public.maintenance(id);


--
-- Name: rapport_attachments fkfee3i4etokersxbasi8jj50we; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rapport_attachments
    ADD CONSTRAINT fkfee3i4etokersxbasi8jj50we FOREIGN KEY (rapport_id) REFERENCES public.rapport(id);


--
-- Name: equipe_techniciens fkh7oanr0fkitnmferhlqclohon; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipe_techniciens
    ADD CONSTRAINT fkh7oanr0fkitnmferhlqclohon FOREIGN KEY (equipe_id) REFERENCES public.equipe(id);


--
-- Name: piece_request fkima5swr68cg7w1c8pw1hgtmoi; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.piece_request
    ADD CONSTRAINT fkima5swr68cg7w1c8pw1hgtmoi FOREIGN KEY (tache_id) REFERENCES public.tache(id);


--
-- Name: tache fklyjh22yulf8jpmgdmbfis8a8k; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT fklyjh22yulf8jpmgdmbfis8a8k FOREIGN KEY (taxonomie_id) REFERENCES public.taxonomie(id);


--
-- Name: tache fks9drda4hhcqabf6y8njce5q8k; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT fks9drda4hhcqabf6y8njce5q8k FOREIGN KEY (equipe_id) REFERENCES public.equipe(id);


--
-- Name: equipement fktq2yia65rjvwc7o43e2qyfdw1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipement
    ADD CONSTRAINT fktq2yia65rjvwc7o43e2qyfdw1 FOREIGN KEY (taxonomie_id) REFERENCES public.taxonomie(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vllUeKMQPxwdwKfepGxIcWD0lv9bwbfDfrF1ZUbBnr3Mo12fwJlZqbon1NoEA7e

